@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('./yekan/eot/iranyekanwebregularfanum.eot');
    src: url('./yekan/woff/iranyekanwebregularfanum.woff') format('woff'),
        url('./yekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');   
}        
        
* {
    font-family: iranyekan;
    --title-font: iranyekan;;
    --body-font: iranyekan;
}        
html,
body {
    font-family: iranyekan;
}

a {
    font-family: iranyekan;
}